.app {
  text-align: center;
}

/* All wallet style */
span {
  display: inline-block;
  background: antiquewhite;
  padding: 10px;
  margin: 5px;
}
.List-wrapper {
  border: 1px solid #ccc;
  margin: auto;
  width: 400px;
  margin-top: 10px;
}
.navigation {
  margin: 0;
}
.all {
  float: right;
}
